// ----archivos importados.
@import "variables";
@import "navbar";
@import "footer";
@import "topnav";
@import "carousel";
@import "navsearch";
  

  
  /*Estilo de las 3 imagenes déspues del carrusel*/
  @mixin polaroid($ancho, $fondo, $borde, $izquierda) {
    width: $ancho;
    background-color: $fondo;
    border-radius: $borde;
    float: $izquierda;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 40px 20px;
    margin-left: 40px;
    margin-bottom: 80px;
  }

  div.polaroid {
    
   @include polaroid(30%, $color2, 16px, left);

      
  img {
    border-radius: 8px;
     margin-top: 5px;
     margin-left: 1px;
     width: 100%;
 }

 .container {
    text-align: center;
    padding: 10px 20px;
  }

  }
  /*Fin del estilo de las imagenes*/
  
  /*Estilo de las 4 imagenes*/
  .polaroid1 {
    width: 23%;
    background-color: $color2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: left;
    padding: 10px;
    border-radius: 16px;
    margin-left: 25px;
    margin-right: auto;
    margin-bottom: 50px;

   img {
    border-radius: 8px;
     margin-top: 5px;
     margin-left: 8px;
     width: 95%;
 }

 .container1 {
    text-align: center;
    padding: 10px 20px;
  }
   /*Fin del estilo de 4 las imagenes*/

    /*Estilo del megusta en forma de corazón*/
    .heart {
        background-image: url(imagenes/animacion_heart.png);
        background-position: left;
        background-repeat: no-repeat;
        background-size: 1450px;
        cursor: pointer;
        display: inline-block;
        height: 50px;
        width: 50px;
      }

  }
 
  .heart:hover
  {
    background-position: right; /*displaying last heart frame */
    background-color: $color3;
  }
  
  @-webkit-keyframes heartTransition
  {
    0% {background-position: left;}
    100% {background-position: right;}
  }
  
  @keyframes heartTransition
  {
    0% {background-position: left;}
    100% {background-position: right;}
  }
  
  @mixin animation {
    -webkit-animation-duration: .8s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: heartTransition;
    -webkit-animation-timing-function: steps(28);
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-iteration-count: infinite;
    animation-name: heartTransition;
    animation-timing-function: steps(28);
    background-position: right;
  }

  .heart_animate
  {
    @include animation;
  }
  /*------------Fin del estilo del me gusta en forma de corazón------------*/
  

  /*----Estilo de Credi Jamar-------------------------------*/
  .button-container{
  display:inline-block;
  position:relative;
  padding-right: 50px;
  margin-bottom: 40px;

  button{
  
    position: absolute;
    right:50%;
    top:55%;
    background-color: $color1;
    border-radius: 10px;
    color: $color2;
    text-transform:uppercase;
    padding:1em 1.5em;
    
    }
  }
  /*------------Fin estilo Credi Jamar-------------------------*/
  
  /*-----------Estilo de la galeria de imagenes----------*/
  #gallery .col-lg-4{
    margin: 0 !important;
    padding: 8px;
    
    display: flex;
    flex-wrap: wrap;;
    max-width: 1000px;
    min-width: 300px; 
    margin-left: auto;
    margin-right: auto;
  
    img{
        width: 100%;
        height: auto;
        border-radius: 8px;
        border: 1px solid $color7;
      }

 img:hover{
        border: 5px solid $color2;
      }

      .centrado{
        position: absolute;
        top: 86%;
        left: 50%;
        color: $color2;
        transform: translate(-50%, -50%);
    }
  }
  
  @media screen and (min-width: 600px){
    .gallery{
    width: calc(50% - 2em);
    overflow: hidden;
    }
  }
  /*---Fin de estilos de la galeria de imagenes----*/
  
  /*-------Estilos de la seccion Decoración y cuidados----*/
  #gallery1 img{
  
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  
    object-fit: cover;
    border-radius: 9px;
    border: 1px solid $color7;
  }
  
  #gallery1 .col-md-4{
    margin: 0 !important;
    padding-left: 5px;
  
    display: flex;
    flex-wrap: wrap;

  @mixin texto{
    position: absolute;
    top: 40%;
    left: 10%;
  }
    .texto-encima-2{
       @include texto;
    }
    .texto-encima-3{
        @include texto;
    }
   
  }
  #gallery1 img:hover{
    border: 5px solid $color2;
  }
  /*-----Estilos para el texto sobre las imagenes de esta sección----*/
  .texto-encima-1{
      position: absolute;
      top: 70%;
      left: 10%;
  }
  /*----------Fin de los estilos del texto------*/
  /*-----Fin de los estilos de la seccion Decoración y cuidados------*/
  

  /*----Inicio de estilos de galeria encuentra tu estilo*/
  #gallery3 .col-md-2{
    margin: 0 !important;
    padding: 40px;
    
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    min-width: 100px; 
    margin-right: auto;
  
  img{
        width: 200px;
        height: 350px;
        border-radius: 8px;
        margin-left: 45px;
        padding: 20px;
      }

 img:hover{
        border: 1px solid $color2;
       }
  }
  /*----------Fin estilos galeria encuentra tu estilo---------*/
  
  /*-------------Inicio estilos de la imagen del sillon---------*/
  .contenedor{
      position: relative;
      display: inline-block;
      text-align: center;
      
      .texto-encima{
        position: absolute;
        top: 30%;
        left: 48%;
    }
    .centrado1{
        position: absolute;
        top: 44%;
        left: 63%;
        transform: translate(-50%, -50%);
    }

    .text-align{
        position: absolute;
        top: 50%;
        left: 48%;
    }

     button {
        position:  absolute;
        top: 65%;
        left: 48%;
        width:200px; /* Para que no se rompa en dos líneas, y lo translade tal cual. */
        z-index:99;
        }
  }
  /*-----------Fin de estilo de la imagen del sillon*/
  
  /*-----Estilo del button ver más categorías-----*/
  .center button{
  position: absolute;
  left: 39%;
  width:290px; /* Para que no se rompa en dos líneas, y lo translade tal cual. */
  z-index:99;
  margin-bottom: 30px;
  }
  /*------------Fin del estilo button ver más categorías--------------*/
  
  /*----------------Estilos del botón credijamar2--------------------*/
  .button-contenedor{
  display:inline-block;
  position:relative;
  padding-right: 50px;
  margin-bottom: 40px;

  button{
  
    position: absolute;
    right:38.38%;
    top:65%;
    background-color: $color1;
    border-radius: 10px;
    color: $color2;
    text-transform:uppercase;
    padding:1em 1.5em;

    }
  }
  /*-----------Fin del estilo del botón credijamar2------------------*/
  


  /*----Estilo de la Seccion de enviar correo----  */
  .container-email {
      width: 100%; 
      background: $color12;
  }
  /*-------Fin de los estilos de esta sección*/
  
  /*Estilo de la sección Nosotros*/
  .container-about {
      width: 100%; 
      background: $color2;
      margin: auto; 

    img{
        margin: 0 !important;
       padding: 40px;
       
       display: flex;
       flex-wrap: wrap;
       margin-left: 25px;
       margin-right: auto;
     }

     p{
      justify-content: center; 
      padding-left: 35px;
   }

  }
   /*Fin de los estiilos de la  sección*/
  
  /*Estilo de la sección informacicón*/
  .conteiner-info{
      width: 100%; 
      background: $color11;
      text-align: center;
  }
    /*Fin del estilo*/
  
  /*Estilo Sub barra #4*/
  .container-info2{
     text-align: center;
      width: 100%; 
      background: $color13;

      p{
        margin-top: 10px;
      }
  }
   /*Fin del estilo*/
  
  
  
  /*Sub barra # 2*/
  .container-menu {
    padding-left: 120px;
    height: 55px;
    background-color: $color15;

    a{
    margin-top: 15px;
    color: $color2;
  }

  }
   /*Fin del estilo de la sección*/
  
